<!-- FOOTER -->
footer.foo
	.foo-top
		.wrapper
			.foo-box
				.foo-menu
					h3.foo-ttl Services
					ul.foo-menu-list
						li
							a(href="") Messaging
						li
							a(href="") Livechat
						li
							a(href="") Virtual gifts
						li
							a(href="") Real gifts delivery
						li
							a(href="") Buying contacts

				.foo-menu
					h3.foo-ttl Information
					ul.foo-menu-list
						li
							a(href="") About us
						li
							a(href="") FAQ
						li
							a(href="") News & Updates
						li
							a(href="") Terms and conditions
						li
							a(href="") Contact us
				.foo-menu
					h3.foo-ttl Customer support
					ul.foo-menu-list
						li
							a(href="") Technical support
						li
							a(href="") Scam report
						li
							a(href="") Report user

				.foo-menu.foo-menu-copy
					ul.foo-menu-list
						li © 2018 SlavicLove.com
						li All rights reserved
						li.foo-menu-item-black 
							span This website use cookies!


	.foo-bottom
		.wrapper
			.foo-bottom-development Developed by 
				a(href="") RespectDesign Studio