<!-- HEADER -->
header#header.header
    .header_wrapper
        .wrapper
            .header_box
                a.logo(href="")
                    img(src="img/logo.png", alt="logo")
                .header_block
                    .header_slogan
                        p Our International Dating Site and Matchmaking Service Works with
                        p Honest Marriage Agencies in 
                            span Belarus, Latvia, Moldova, Russia and Ukraine
                    .header_box-control
                        a.sign_up.btn_transparent(href="") Login
                        a.sign_up.btn_transparent(href="") Sign up
                        a.account-link.hidden(href="")
                            .account-img
                                img(src="img/account-male.png", alt="account")
                        .hamburger.hamburger--spin.js-hamburger
                            .hamburger-box
                                .hamburger-inner
                    .header_desc-nav
                        include ../parts/nav.pug
            .header_mob-nav
                include ../parts/nav.pug