doctype html
html(lang="ru")
    head
        meta(charset ='UTF-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='description' content='')
        meta(name='viewport' content='initial-scale=1.0, width=device-width')
        link(href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i" rel="stylesheet")
        link(rel='stylesheet' href='css/blueimp-gallery.min.css')
        link(rel='stylesheet' href='css/styles.min.css')
        title new
    body
        
        include components/header.pug

        main.main-wrap
            section.tizer
                .wrapper
                    .tizer_box
                        a.tizer_item.tizer_item--large(href="" style="background-image: url(img/tizer_large.jpg)")
                            .tizer_item-ttl 
                                span Our success stories
                        a.tizer_item.tizer_item--medium(href="" style="background-image: url(img/tizer_medium.jpg)")
                            .tizer_item-ttl 
                                span Most Beautiful Woman in the World
                        a.tizer_item.tizer_item--small(href="" style="background-image: url(img/tizer_small.jpg)")
                            .tizer_item-ttl 
                                span Our anti-scam policy
                        a.tizer_item.tizer_item--small(href="" style="background-image: url(img/tizer_small_2.jpg)")
                            .tizer_item-ttl 
                                span 1000+ woman profiles from 18 to 50+
                    .tizer_content-box
                        h2.title.title_small Eastern European Women From Russia, Belarus and the Ukraine Are Among the Most Beautiful Women in the World
                        p It is widely known that Eastern European Women from Russia, Belarus and the Ukraine are some of the most beautiful women in the world. But Russian women, Belarus girls and Ukraine ladies aren’t just beautiful on the outside! They are gorgeous on the inside, too - and they know how to make their husbands happy!
                        p Russian women, Belarus ladies and Ukraine girls are looking for a reliable man for husband and become his beautiful wife. Our dating online website, marriage agencies and matchmaker services will assist you in every step of finding your pretty Russian Bride.
                        p Many Eastern European women cannot find the man who will make their dream come true: become attractive wives and share lifelong romance with their husband. In a similar way as you are doing, they are broadening their horizons in the search of a husband and here’s your occasion to find an elegant Russian wife!

            section.new
                .wrapper
                    h3.title.title_small New profiles
                    .new_box
                        a.new_item(href="")
                            .new_item-img
                                img(src="img/profile_1.jpg", alt="photo")
                            .new_name Irina,
                                span.new_age 33
                            .new_city Mariupol
                        a.new_item(href="")
                            .new_item-img
                                img(src="img/profile_1.jpg", alt="photo")
                            .new_name Irina,
                                span.new_age 33
                            .new_city Mariupol
                        a.new_item(href="")
                            .new_item-img
                                img(src="img/profile_1.jpg", alt="photo")
                            .new_name Irina,
                                span.new_age 33
                            .new_city Mariupol
                        a.new_item(href="")
                            .new_item-img
                                img(src="img/profile_1.jpg", alt="photo")
                            .new_name Irina,
                                span.new_age 33
                            .new_city Mariupol
                        a.new_item(href="")
                            .new_item-img
                                img(src="img/profile_1.jpg", alt="photo")
                            .new_name Irina,
                                span.new_age 33
                            .new_city Mariupol
                        a.new_item(href="")
                            .new_item-img
                                img(src="img/profile_1.jpg", alt="photo")
                            .new_name Irina,
                                span.new_age 33
                            .new_city Mariupol
                        a.new_item(href="")
                            .new_item-img
                                img(src="img/profile_1.jpg", alt="photo")
                            .new_name Irina,
                                span.new_age 33
                            .new_city Mariupol
                        a.new_item(href="")
                            .new_item-img
                                img(src="img/profile_1.jpg", alt="photo")
                            .new_name Irina,
                                span.new_age 33
                            .new_city Mariupol
                        a.new_item(href="")
                            .new_item-img
                                img(src="img/profile_1.jpg", alt="photo")
                            .new_name Irina,
                                span.new_age 33
                            .new_city Mariupol
                        a.new_item(href="")
                            .new_item-img
                                img(src="img/profile_1.jpg", alt="photo")
                            .new_name Irina,
                                span.new_age 33
                            .new_city Mariupol
                        a.new_item(href="")
                            .new_item-img
                                img(src="img/profile_1.jpg", alt="photo")
                            .new_name Irina,
                                span.new_age 33
                            .new_city Mariupol
                        a.new_item(href="")
                            .new_item-img
                                img(src="img/profile_1.jpg", alt="photo")
                            .new_name Irina,
                                span.new_age 33
                            .new_city Mariupol
                        a.new_item(href="")
                            .new_item-img
                                img(src="img/profile_1.jpg", alt="photo")
                            .new_name Irina,
                                span.new_age 33
                            .new_city Mariupol
                        a.new_item(href="")
                            .new_item-img
                                img(src="img/profile_1.jpg", alt="photo")
                            .new_name Irina,
                                span.new_age 33
                            .new_city Mariupol
            section.features
                .wrapper
                    .features_box
                        .features_item
                            .features_item-icon.features_item-icon_1
                            .featres_item-content
                                h3.featres_item-ttl Gifts delivery
                                p A small online store with a catalog og goods, payment, delivery, gifts girl with the provision of reports of the man.
                        .features_item
                            .features_item-icon.features_item-icon_2
                            .featres_item-content
                                h3.featres_item-ttl Virtual gifts
                                p The sale of virtual(pictures, animations) in the likeness of the social networks.Delivery with payment - instantly.
                        .features_item
                            .features_item-icon.features_item-icon_3
                            .featres_item-content
                                h3.featres_item-ttl Live chat
                                p Instant messaging in real time.
                        .features_item
                            .features_item-icon.features_item-icon_4
                            .featres_item-content
                                h3.featres_item-ttl Gifts delivery
                                p A small online store with a catalog og goods, payment, delivery, gifts girl with the provision of reports of the man.
                        .features_item
                            .features_item-icon.features_item-icon_5
                            .featres_item-content
                                h3.featres_item-ttl Virtual gifts
                                p The sale of virtual(pictures, animations) in the likeness of the social networks.Delivery with payment - instantly.
                        .features_item
                            .features_item-icon.features_item-icon_6
                            .featres_item-content
                                h3.featres_item-ttl Live chat
                                p Instant messaging in real time.

        include components/footer.pug                        
        include components/script.pug