nav.nav
    ul.nav-list
        li.nav-item
            a(href="") Home
        li.nav-item
            a(href="") About
        li.nav-item
            a(href="") Services
        li.nav-item
            a(href="") Browse profiles
        li.nav-item
            a(href="") Live chat
        li.nav-item
            a(href="") Messaging
        li.nav-item
            a(href="") Search
        li.nav-item
            a(href="") Contact us